apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::541495491938:role/GitHubEKSCluster
      username: github-actions
      groups:
        - system:masters
