name: Demo - EKS Deploy
on: [push]

permissions:
  id-token: write # Required for OIDC
  contents: read  # Required to checkout code

jobs:
  deploy-nonprod:
    runs-on: ubuntu-latest
    env:
      EKS_CLUSTER: ${{ secrets.NONPROD_EKS_CLUSTER }}
      DT_API_TOKEN: ${{ secrets.NONPROD_DT_API_TOKEN }}
      DT_DATA_INGEST_TOKEN: ${{ secrets.NONPROD_DT_DATA_INGEST_TOKEN }}
      KUBE_NAMESPACE: dynatrace

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure kubectl for EKS
        run: |
          aws eks --region ap-southeast-1 update-kubeconfig --name $EKS_CLUSTER

      - name: Create Dynatrace Secret
        run: |
          kubectl create namespace $KUBE_NAMESPACE --dry-run=client -o yaml | kubectl apply -f -
          kubectl -n $KUBE_NAMESPACE create secret generic dynatrace-tokens \
            --from-literal=apiToken=$DT_API_TOKEN \
            --from-literal=dataIngestToken=$DT_DATA_INGEST_TOKEN \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Apply Dynakube
        run: kubectl apply -f dynakube.yaml
