name: Demo - EKS Deploy
on: [push]

permissions:
  id-token: write # Required for OIDC
  contents: read  # Required to checkout code

jobs:
  deploy-to-eks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubEKSDeployRole02
          aws-region: ap-southeast-1 

      - name: Setup Kubeconfig
        run: aws eks update-kubeconfig --name my-demo-cluster

      - name: Deploy DynaKube
        run: |
          kubectl apply -f dynakube.yaml
