name: Deploy Dynatrace (Dev)

on:
  push:
    branches:
      - uat

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy Dynatrace to EKS
    environment: uat
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-southeast-1
      EKS_CLUSTER: demo-uat-cluster
      DYNATRACE_NAMESPACE: dynatrace

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      #authenticate to aws using oidc 
      - name: AWS Authenticate (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::541495491938:role/GitHubEKSCluster
          aws-region: ${{ env.AWS_REGION }}

      # export temp credentaisl for kubectl and helm 
      - name: Export AWS credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ env.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ env.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_SESSION_TOKEN=${{ env.AWS_SESSION_TOKEN }}" >> $GITHUB_ENV

      #configure kubeconfig
      - name: Configure kubectl
        run: aws eks update-kubeconfig --name $EKS_CLUSTER --region $AWS_REGION

      # authenticate Helm to public ECR (us-east-1)
      - name: Authenticate with Public ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 | helm registry login --username AWS --password-stdin public.ecr.aws

      #install / upgrade Dynatrace Operator
      - name: Install / Upgrade Dynatrace Operator
        run: |
          helm upgrade --install dynatrace-operator \
            oci://public.ecr.aws/dynatrace/dynatrace-operator \
            --namespace $DYNATRACE_NAMESPACE \
            --create-namespace \
            --atomic \
            --wait

      # create / update Dynatrace Secret
      - name: Create / Update Dynatrace Secret
        run: |
          kubectl create secret generic dynatrace-tokens \
            -n $DYNATRACE_NAMESPACE \
            --from-literal="apiToken=${{ secrets.DT_API_TOKEN }}" \
            --from-literal="dataIngestToken=${{ secrets.DT_DATA_INGEST_TOKEN }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      # apply dynakube manifest
      - name: Apply Dynakube Manifest
        run: kubectl apply -f kubernetes/dynatrace/dynakube.yaml

      # verify dynakube rollout
      - name: Verify Dynatrace rollout
        run: |
          kubectl get pods -n $DYNATRACE_NAMESPACE
          kubectl get dynakube -n $DYNATRACE_NAMESPACE
