name: Deploy DynaKube

on:
  push:
    branches: [ main, develop ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy-to-eks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubEKSDeployRole
          aws-region: ap-southeast-1 

      - name: Setup Kubeconfig
        run: aws eks update-kubeconfig --name my-demo-cluster

      - name: Deploy DynaKube
        run: |
          kubectl apply -f dynakube.yaml
