name: Dynatrace PR Validation

on:
  pull_request:
    branches:
      - develop
      - main

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    name: Validate Dynatrace Deployment (PR)
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-southeast-1
      EKS_CLUSTER: gerard-dev-cluster
      DYNATRACE_NAMESPACE: dynatrace

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS Authenticate (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/eksclusterrole
          aws-region: ${{ env.AWS_REGION }}

      - name: Configure kubectl
        run: aws eks update-kubeconfig --name $EKS_CLUSTER --region $AWS_REGION

      - name: Helm Dry-Run Dynatrace Operator
        run: |
          helm upgrade --install dynatrace-operator \
            oci://public.ecr.aws/dynatrace/dynatrace-operator \
            --namespace $DYNATRACE_NAMESPACE \
            --create-namespace \
            --atomic \
            --wait \
            --dry-run